:root {
  --very-light-grayish-blue: hsl(240, 78%, 98%);
  --light-grayish-blue: hsl(234, 14%, 74%);
  --grayish-blue: hsl(233, 13%, 49%);
  --dark-grayish-blue: hsl(232, 13%, 33%);
  --gradient: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  background-color: var(--very-light-grayish-blue);
  font-family: 'Montserrat', sans-serif;
}

img {
  max-width: 100%;
  max-height: 100%;
  user-select: none;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-self: center;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;

  & > span {
    font-size: 30px;
  }
}

.payment-type {
  display: flex;
  align-items: center;
  gap: 20px;
}

.panel:has(input[id=choice]:checked) {
  & .offer__price--monthly {
    display: block;
  }

  & .offer__price--annually {
    display: none;
  }
}

.offers {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.offer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 30px;
  font-size: 15px;
  max-width: 300px;
  border-radius: 10px;

  &:nth-child(odd) { /*Basic and Master*/
    background-color: white;
    margin: 20px 0;

    & span {
      color: var(--dark-grayish-blue);
    }

    & button {
      background-image: var(--gradient);
    }
  }

  &:nth-child(even) { /*Professional*/
    background-image: var(--gradient);

    & span {
      color: var(--very-light-grayish-blue);
    }

    & button {
      background-color: white;
    }
  }
}

.offer__title {

}

.offer__price {
  font-size: 40px;
}

.offer__price--monthly {
  display: none;
}

.offer__price--annually {
  display: block;
}

.offer__desc {
  display: flex;
  gap: 20px;
  flex-direction: column;
  text-align: center;
}

.desc__content {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: var(--light-grayish-blue);
    top: 0;
    left: 0;
    margin: 10px 0;
  }

  &:last-child::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: var(--light-grayish-blue);
    bottom: -10px;
    left: 0;
  }
}

.switch {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 30px;
  cursor: pointer;
  overflow: hidden;

  & input {
    position: absolute;
    top: -30px;
    left: -30px;
    width: 0;
    height: 0;

    & + span {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: #99b4df;
      border-radius: 20px;
    }
  }
}



.learn-more {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  color: white;
}

.attribution {
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.attribution__text {
  color: var(--grey);
  font-size: 12px;
  font-weight: 400;
}

.attribution__link {
  color: var(--dark-blue);
  font-size: 12px;
  font-weight: 400;
}

@media screen  and (width < 600px) {
  .attribution {
    display: none;
  }
}

@supports selector(:has(figcaption)) {
  body small {
    display: none;
  }
}

small {
  background: crimson;
  color: white;
  padding: 1rem;
  display: block;
  font-weight: 600;
  font-size: 1rem;
  max-width: max-content;
  margin-bottom: 2rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

small code {
  font-size: 1.2rem;
  background: rgba(255, 255, 255, 0.33);
}

small a {
  color: white;
}

small a:hover {
  color: rgba(255, 255, 255, 0.8);
}
