.my-button {
  background-color: var(--dark-gray-blue);
  color: white;
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  padding: 18px;
  font-size: 16px;
}

.my-button:hover {
  background: var(--gradient-result-bg);
}
