.panel-summary {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex: 1;
  padding: 30px;
  gap: 30px;
}

#recaps-slot {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: auto;
}
