:root {
  /*Primary*/
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);

  /*Neutral*/
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

html {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  background-color: var(--pale-blue);
  font-family: 'Red Hat Display', sans-serif;
}

img {
  max-width: 100%;
  max-height: 100%;
  user-select: none;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-image: url('./images/pattern-background-desktop.svg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.card {
  max-width: 500px;
  display: flex;
  margin: 20px;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background-color: white;
}

.card__image {
  border-radius: 20px 20px 0 0;
}

.card__content {
  display: flex;
  flex-direction: column;
  padding: 20px 60px;
  gap: 30px;
  text-align: center;
}

.card__typo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card__title {
  font-weight: 900;
  font-size: 26px;
  color: var(--dark-blue);
}

.card__text {
  color: var(--desaturated-blue);
  font-size: 18px;
  line-height: 1.75;
  font-weight: 400;
}

.offer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 16px;
  background-color: var(--very-pale-blue);
}

.offer__plan {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.plan__price {
  color: var(--desaturated-blue);
}

.plan__title {
  color: var(--dark-blue);
  font-weight: 700;
}

.offer__anchor {
  display: flex;
  justify-content: flex-end;
  flex: 1;

  & a {
    color: hsl(245, 75%, 45%);
    font-weight: 700;
    font-size: 15px;
    user-select: none;

    &:active {
      color: hsl(245, 75%, 70%);
      text-decoration: none;
    }
  }
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.my-button {
  border: 0;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}

.button__primary {
  color: white;
  background-color: var(--bright-blue);
  box-shadow: 0 18px 20px 0 rgba(0, 0, 0, 0.2);

  &:active {
    background-color: hsl(245, 75%, 70%);
  }
}

.button__secondary {
  color: var(--desaturated-blue);
  background-color: transparent;

  &:active {
    color: var(--dark-blue);
  }
}

.attribution {
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.attribution__text {
  color: var(--grayish-blue);
  font-size: 12px;
  font-weight: 400;
}

.attribution__link {
  color: var(--dark-blue);
  font-size: 12px;
  font-weight: 400;
}

@media screen and (width < 600px) {
  .wrapper {
    background-image: url('./images/pattern-background-mobile.svg');
  }

  .card {
    max-width: 400px;
  }

  .card__content {
    padding: 10px 30px;
  }

  .card__title {
    font-size: 22px;
  }

  .card__text {
    font-size: 16px;
  }

  .offer__plan {
    font-size: 14px;
  }

  .my-button {
    font-size: 15px;
  }

  .attribution {
    display: none;
  }
}
